<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>약관 내용</h2>
<p>약관....(생략)</p>
개인 가입을 위한 조건<br />
<form th:action="@{regist}"  method="post">
	<input type="checkbox" name="agree" value="true" required="required" />
	<input type="submit" value="개인 가입"/>
</form>
<hr />
<h2>약관 내용</h2>
<p>약관....(생략)</p>
중개사 가입을 위한 조건<br />
<form th:action="@{regist1}"  method="post">
	<input type="checkbox" name="agree" value="true" required="required"/>
	<input type="submit" value="중개사 가입"/>
</form> <br />
<input type='button' value='뒤로 가기' onclick="javascript:location.href='/'" />
</body>
</html>