<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="houzz.mapper.EstateMapper">
	<select id="estateNumGenerate" resultType="string">
		select concat('est',nvl(max(substr(estate_num,4)),10000000)+ 1)
		from member
	</select>
</mapper>