<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="houzz.mapper.MediationShipMapper">
    
	<resultMap type="mediationDTO" id="medConstructorMap">
		<constructor>
			<idArg column="mediation_num" javaType="string" />
			<arg column="business_regi_num" javaType="string" />
			<arg column="mediation_id" javaType="string" />
			<arg column="mediation_pw" javaType="string" />
			<arg column="ceo_name" javaType="string" />
			<arg column="mediation_name" javaType="string" />
			<arg column="mediation_addr" javaType="string" />
			<arg column="mediation_phone" javaType="string" />
			<arg column="mediation_email" javaType="string" />
			<arg column="able_ad_count" javaType="integer" />
			<arg column="mediation_join_ok" javaType="string" />
		</constructor>
	</resultMap>

	<select id="selectMed" parameterType="string" resultMap="medConstructorMap">
		select mediation_num, business_regi_num, mediation_id, mediation_pw, ceo_name,
		       mediation_name, mediation_addr, mediation_phone, mediation_email, able_ad_count, MEDIATION_JOIN_OK
		from mediation
		where mediation_id = #{mediationId}
	</select>

     <update id="updatePwMed" parameterType="mediationDTO">
        update mediation
        set mediation_pw = #{mediationPw}
        where mediation_id = #{mediationId}
     </update>
     
     <update id="updateMed" parameterType="mediationDTO" >
         update mediation
         set mediation_name = #{mediationName}, mediation_addr = #{mediationAddr},
             mediation_phone =#{mediationPhone}, mediation_email = #{mediationEmail}
         where mediation_id = #{mediationId}  
     </update>
     
     <delete id="memDel" parameterType="string">
          delete from mediation
          where mediation_id = #{mediationId}
     </delete>
     
     
     
</mapper>