<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="houzz.mapper.MemberMapper">
<select id="memberNumGenerate" resultType="string">
	select concat('mem',nvl(max(substr(member_num,4)),100000)+ 1) 
	from member
</select>	
<insert id="memberInsert" parameterType="memberDTO">
	insert into member(MEMBER_NUM, MEMBER_NAME, MEMBER_ID, MEMBER_PW, MEMBER_PHONE, MEMBER_EMAIL, MEMBER_ADDR, MEMBER_GENDER, 
						MEMBER_BIRTH, MEMBER_JOIN_DATE, MEMBER_JOIN_CK, ACCOUNT_ADDRESS)
	values(#{memberNum}, #{memberName}, #{memberId}, #{memberPw}, #{memberPhone}, #{memberEmail}, #{memberAddr}, #{memberGender},
			#{memberBirth}, sysdate, #{memberJoinCk}, #{accountAddress})
</insert>


</mapper>