<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <button class="enableButton">지갑연결</button>
    <h2>Account: <span class="showAccount"></span></h2>
    <button onclick="getContract()">컨트랙트 연결</button>
    <div id="contract"></div>

<script>
        const Button = document.querySelector('.enableButton');
        const showAccount = document.querySelector('.showAccount');

Button.addEventListener('click', () => {
  getAccount();
});

async function getAccount() {
  const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
  const account = accounts[0];
  showAccount.innerHTML = account;
}

</script>

<script src=".web3.min.js"></script>
<script>
 





</script>


    
</body>
</html>