<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
</style>
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

</script>
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-green w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b><a href="/">HOUZZ</a></b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="#showcase" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Showcase</a> 
    <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Services</a> 
    <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Designers</a> 
    <a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Packages</a> 
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-green w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-green w3-margin-right" onclick="w3_open()">☰</a>
  <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>HOUZZ</b></h1>    
  </div>
  
  
  <!-- EmployeeRegistForm -->
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-green"><b>직원 등록</b></h1>
    <hr style="width:50px;border:5px solid green" class="w3-round">
    <form action="empRegist" id="frm" method="post" th:object=${employeeCommand}>
    	<table border="1">
    		<tr>
    			<td>직원 번호</td>
    			<td>
    				<input type="text" name="empNum" th:value="${employeeCommand.empNum}">
    				<span style="color:red" th:if="${#fields.hasErrors('empNum')}" th:errors="*{empNum}"></span>
    			</td>
    		</tr>
    		<tr>
    			<td>부서 번호</td>
    			<td>
    				<input type="radio" name="departmentNum" value="101" th:checked="${employeeCommand.departmentNum=='101'}" />인사팀
					<input type="radio" name="departmentNum" value="201" th:checked="${employeeCommand.departmentNum=='201'}" />매물관리팀
					<input type="radio" name="departmentNum" value="301" th:checked="${employeeCommand.departmentNum=='301'}" />고객대응팀
    				<span style="color:red" th:if="${#fields.hasErrors('departmentNum')}" th:errors="*{departmentNum}"></span>
    			</td>
    		</tr>
    		<tr>
    			<td>아이디</td>
    			<td>
    				<input type="text" name="empId" th:value="${employeeCommand.empId}">
    				<span style="color:red" th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}"></span>
    			</td>
    		</tr>
    		<tr>
    			<td>비밀번호</td>
    			<td>
    				<input type="password" name="empPw" th:value="${employeeCommand.empPw}">
    				<span style="color:red" th:if="${#fields.hasErrors('empPw')}" th:errors="*{empPw}"></span>
    			</td>
    		</tr>
    		<tr>
    			<td>비밀번호 확인</td>
    			<td>
    				<input type="password" name="empPwCon" th:value="${employeeCommand.empPwCon}">
    				<span style="color:red" th:if="${#fields.hasErrors('empPwCon')}" th:errors="*{empPwCon}"></span>
    			</td>
    		</tr>
    		<tr>
    			<td>직원 이름</td>
    			<td>
    				<input type="text" name="empName" th:value="${employeeCommand.empName}">
    				<span style="color:red" th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}"></span>
    			</td>
    		</tr>
    		<tr>
    			<td>연락처</td>
    			<td>
    				<input type="tel" name="empPhone" th:value="${employeeCommand.empPhone}">
    				<span style="color:red" th:if="${#fields.hasErrors('empPhone')}" th:errors="*{empPhone}"></span>
    			</td>
    		</tr>
    		<tr>
    			<td>이메일</td>
    			<td>
    				<input type="email" name="empEmail" th:value="${employeeCommand.empEmail}">
    				<span style="color:red" th:if="${#fields.hasErrors('empEmail')}" th:errors="*{empEmail}"></span>
    			</td>
    		</tr>
    		<tr>
    			<td>주소</td>
    			<td>
    				<input type="text" name="empAddr" th:value="${employeeCommand.empAddr}">
    				<span style="color:red" th:if="${#fields.hasErrors('empAddr')}" th:errors="*{empAddr}"></span>
    			</td>
    		</tr>
    		<tr>
    			<td>성별</td>
    			<td>
    				<input type="radio" name="empGender" value="F" th:checked="${employeeCommand.empGender=='F'}" />여자 
					<input type="radio" name="empGender" value="M" th:checked="${employeeCommand.empGender=='M'}" />남자
					<span style="color:red" th:if="${#fields.hasErrors('empGender')}" th:errors="*{empGender}"></span>
    			</td>
    		</tr>
    		<tr>
    			<td>생년월일</td>
    			<td>
    				<input type="date" name="empBirth" th:value="${employeeCommand.empBirth}">
    				<span style="color:red" th:if="${#fields.hasErrors('empBirth')}" th:errors="*{empBirth}"></span>
    			</td>
    		</tr>
    		<tr>
    			<td colspan="2">
    				<input type="submit" value="REGIST">
    			</td>
    		</tr>
    	</table>
    </form>
  </div>


<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>



</body>
</html>